<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Recorder</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSCameraUsageDescription</key>
	<string>Camera is used to record webcam clips.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Microphone is used to record audio.</string>
	<key>NSScreenCaptureDescription</key>
	<string>Screen capture is used to record the display.</string>
</dict>
</plist>
